body{
	background-color: lightgrey;
}

h1 {
	width:auto;
	padding:10px;
	margin:10px;
	background-color: #FA8072;
	margin-left:auto;
	margin-right:auto;
	font-family: impact;
	color: white;
	text-align: center;
	
}

h2 {
	margin-left:auto;
	margin-right:auto;
	background-color: #FA8072;
	text-align: center;
}

h3 {
	position:absolute;
	left:auto;
	right:auto;
}

#clickme {
	text-align:center;
	margin:auto;
}